*{
    margin: 0;
    padding: 0;
}

.caja-repo{
    background-color: #4665ce;
    height: 300px;
    width: 80%;
    margin: 10rem auto;
    outline: double 1rem #4665ce;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-family: Impact;
    font-size: 2rem;
    color: #fff;
    padding: 0 2.5rem 0 0;
    background: #0000ff;
}